.container {
    width: 1280px;
    box-sizing: border-box;
    margin: auto;
}
.header {
    display: flex;
    flex-direction: column;
}
.header_logo {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
}
.header_logo_color {
    color: #4BCAFF;
}
.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 40px;
    background-color: #35444F;
}
.header_menu_list {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 70px;
    align-items: center;
    border-right: 1px solid #FFFFFF;
}
.header_menu_link {
    display: flex;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 1px solid #FFFFFF;
    padding-left: 40px;
    padding-right: 51px;
    height: 70px;
    align-items: center;
}
.header_menu_link:hover {
    background-color: #222F3A;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.main_menu {
    display: flex;
    width: 344px;
    height: 400px;
    border: 1px solid #000;
}
.main_menu_list {
    display: flex;
    flex-direction: column;
}
.main_menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 80px;
    padding-left: 44px;
    color: #495863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 100% */
}
.main_menu_item:hover {
    width: 270px;
    padding-left: 74px;
    background: #DBDBDB;
}
.main_blog {
    display: flex;
    flex-direction: column;
    width: 886px;
    margin-left: 52px;
}
.main_blog_logo {
    display: flex;
    align-items: center;
    width: 886px;
    height: 530px;
    border: 1px solid #000;
}
.main_blog_img {
    display: flex;
    width: 320px;
    height: 381px;
    margin-left: 283px;
    transition: transform 1s;
}
.main_blog_img:hover {
    transform: scale(1.4);
}
.main_blog_text {
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-top: 38px;
}
.main_blog_text_p2 {
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-top: 14px;
}
.footer {
    display: flex;
    justify-content: space-around;
    height: 69px;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}
.footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 876px;
}
.footer_menu_list {
    display: flex;
    justify-content: space-between;
    width: 876px
}
.footer_menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding-top: 1px;
    color: #0C1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 100% */
}
.footer_menu_item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer_copy {
    display: flex;
    width: 190px;
    flex-direction: column;
    justify-content: center;
    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}

